In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(
    '../Datasets/rainfall_District Wise Timeseries_2017.xls',                   #Relative path
    header = [1,2]                                                              #Selecting rows for column name
).replace('-', np.nan)                                                          #Replacing - with Nan

In [3]:
df.head()

               STATE                DISTRICT 01 Jan 2017              \
  Unnamed: 0_level_1      Unnamed: 1_level_1 Actual (mm) Normal (mm)
0  ANDAMAN & NICOBAR                 NICOBAR         NaN         2.7
1  ANDAMAN & NICOBAR           SOUTH ANDAMAN         NaN         NaN
2  ANDAMAN & NICOBAR  NORTH & MIDDLE ANDAMAN         NaN         3.2
3          RAJASTHAN              GANGANAGAR         0.2         0.3
4          RAJASTHAN                   ALWAR         0.0         0.3

                 02 Jan 2017                            03 Jan 2017  \
  Deviation (mm) Actual (mm) Normal (mm) Deviation (mm) Actual (mm)
0            NaN         NaN         3.1            NaN         NaN
1            NaN         NaN         NaN            NaN         NaN
2            NaN         NaN         3.5            NaN         NaN
3         -33.33        0.28         0.3          -6.67         0.2
4        -100.00        0.00         0.2        -100.00         0.0

               ...    28 Dec 2017 29 Dec 2017                             \
  Normal (mm)  ... Deviation (mm) Actual (mm) Normal (mm) Deviation (mm)
0         0.5  ...            NaN         NaN         3.0            NaN
1         NaN  ...            NaN         NaN         NaN            NaN
2         3.5  ...            NaN         NaN         5.1            NaN
3         0.2  ...         -100.0         0.0         0.2         -100.0
4         0.0  ...         -100.0         0.0         0.0            NaN

  30 Dec 2017                            31 Dec 2017              \
  Actual (mm) Normal (mm) Deviation (mm) Actual (mm) Normal (mm)
0         NaN         4.4            NaN         NaN         7.2
1         NaN         NaN            NaN         NaN         NaN
2         NaN         6.1            NaN         NaN         7.1
3         0.0         0.2         -100.0         0.0         0.0
4         0.0         0.2         -100.0         0.0         0.0


  Deviation (mm)
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

[5 rows x 1097 columns]

In [4]:
df.apply(lambda x:x.isna().sum(), axis = 1).value_counts()

730     94
1095    39
60      11
31      11
35      11
        ..
145      1
104      1
103      1
148      1
125      1
Length: 145, dtype: int64

In [5]:
df = df.iloc[:-1]
index = df[df.columns[0:2]]
index.columns = ['State', 'District']
df = df.drop(columns = df.columns[4::3])
df = df[df.columns[2:]]
df.index = pd.MultiIndex.from_frame(index)
df.head()

                                         01 Jan 2017             02 Jan 2017  \
                                         Actual (mm) Normal (mm) Actual (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        NaN         2.7         NaN
                  SOUTH ANDAMAN                  NaN         NaN         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         3.2         NaN
RAJASTHAN         GANGANAGAR                     0.2         0.3        0.28
                  ALWAR                          0.0         0.3        0.00

                                                     03 Jan 2017              \
                                         Normal (mm) Actual (mm) Normal (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        3.1         NaN         0.5
                  SOUTH ANDAMAN                  NaN         NaN         NaN
                  NORTH & MIDDLE ANDAMAN         3.5         NaN         3.5
RAJASTHAN         GANGANAGAR                     0.3         0.2         0.2
                  ALWAR                          0.2         0.0         0.0

                                         04 Jan 2017             05 Jan 2017  \
                                         Actual (mm) Normal (mm) Actual (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        NaN         1.0         NaN
                  SOUTH ANDAMAN                  NaN         NaN         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         4.8         NaN
RAJASTHAN         GANGANAGAR                    0.08         0.2        0.12
                  ALWAR                         0.00         0.2        0.00

                                                      ... 27 Dec 2017  \
                                         Normal (mm)  ... Actual (mm)
State             District                            ...
ANDAMAN & NICOBAR NICOBAR                        0.5  ...         NaN
                  SOUTH ANDAMAN                  NaN  ...         NaN
                  NORTH & MIDDLE ANDAMAN         4.4  ...         NaN
RAJASTHAN         GANGANAGAR                     0.2  ...         0.0
                  ALWAR                          0.8  ...         0.0

                                                     28 Dec 2017              \
                                         Normal (mm) Actual (mm) Normal (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        1.4         NaN         0.5
                  SOUTH ANDAMAN                  NaN         NaN         NaN
                  NORTH & MIDDLE ANDAMAN         6.8         NaN         5.0
RAJASTHAN         GANGANAGAR                     0.4         0.0         0.1
                  ALWAR                          0.3         0.0         0.1

                                         29 Dec 2017             30 Dec 2017  \
                                         Actual (mm) Normal (mm) Actual (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        NaN         3.0         NaN
                  SOUTH ANDAMAN                  NaN         NaN         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         5.1         NaN
RAJASTHAN         GANGANAGAR                     0.0         0.2         0.0
                  ALWAR                          0.0         0.0         0.0

                                                     31 Dec 2017
                                         Normal (mm) Actual (mm) Normal (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        4.4         NaN         7.2
                  SOUTH ANDAMAN                  NaN         NaN         NaN
                  NORTH & MIDDLE ANDAMAN         6.1         NaN         7.1
RAJASTHAN         GANGANAGAR                     0.2         0.0         0.0
                  ALWAR                          0.2         0.0         0.0

[5 rows x 730 columns]

In [6]:
Null = list()
df.apply(lambda x:Null.append(x.name) if x.isna().sum() == df.shape[1] else None,axis = 1)
Null = pd.DataFrame(Null)
Null.head()

                   0              1
0  ANDAMAN & NICOBAR  SOUTH ANDAMAN
1           NAGALAND        DIMAPUR
2           NAGALAND     MOKOKCHUNG
3           NAGALAND       LONGLENG
4           NAGALAND          WOKHA

In [7]:
Null.to_csv('../Datasets/Null_Districts(2017).csv', index = False)

In [8]:
df = df.dropna(how = 'all')

In [9]:
df.head()

                                         01 Jan 2017             02 Jan 2017  \
                                         Actual (mm) Normal (mm) Actual (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        NaN         2.7         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         3.2         NaN
RAJASTHAN         GANGANAGAR                     0.2         0.3        0.28
                  ALWAR                          0.0         0.3        0.00
                  DHAULPUR                       0.0         0.3        0.00

                                                     03 Jan 2017              \
                                         Normal (mm) Actual (mm) Normal (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        3.1         NaN         0.5
                  NORTH & MIDDLE ANDAMAN         3.5         NaN         3.5
RAJASTHAN         GANGANAGAR                     0.3         0.2         0.2
                  ALWAR                          0.2         0.0         0.0
                  DHAULPUR                       0.4         0.0         0.2

                                         04 Jan 2017             05 Jan 2017  \
                                         Actual (mm) Normal (mm) Actual (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        NaN         1.0         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         4.8         NaN
RAJASTHAN         GANGANAGAR                    0.08         0.2        0.12
                  ALWAR                         0.00         0.2        0.00
                  DHAULPUR                      0.00         0.4        0.00

                                                      ... 27 Dec 2017  \
                                         Normal (mm)  ... Actual (mm)
State             District                            ...
ANDAMAN & NICOBAR NICOBAR                        0.5  ...         NaN
                  NORTH & MIDDLE ANDAMAN         4.4  ...         NaN
RAJASTHAN         GANGANAGAR                     0.2  ...         0.0
                  ALWAR                          0.8  ...         0.0
                  DHAULPUR                       1.4  ...         0.0

                                                     28 Dec 2017              \
                                         Normal (mm) Actual (mm) Normal (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        1.4         NaN         0.5
                  NORTH & MIDDLE ANDAMAN         6.8         NaN         5.0
RAJASTHAN         GANGANAGAR                     0.4         0.0         0.1
                  ALWAR                          0.3         0.0         0.1
                  DHAULPUR                       0.3         0.0         0.1

                                         29 Dec 2017             30 Dec 2017  \
                                         Actual (mm) Normal (mm) Actual (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        NaN         3.0         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         5.1         NaN
RAJASTHAN         GANGANAGAR                     0.0         0.2         0.0
                  ALWAR                          0.0         0.0         0.0
                  DHAULPUR                       0.0         0.0         0.0

                                                     31 Dec 2017
                                         Normal (mm) Actual (mm) Normal (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        4.4         NaN         7.2
                  NORTH & MIDDLE ANDAMAN         6.1         NaN         7.1
RAJASTHAN         GANGANAGAR                     0.2         0.0         0.0
                  ALWAR                          0.2         0.0         0.0
                  DHAULPUR                       0.3         0.0         0.1

[5 rows x 730 columns]

In [10]:
df.to_csv('../Datasets/Rainfall(2017).csv')