In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_excel(
    io = '../Datasets/rainfall_District Wise Timeseries_2014.xls',
    header = [1,2],
    index_col = [0,1],
    skipfooter = 1
).replace('-', np.nan)

In [16]:
df.head()

DISTRICT                                 01 Jan 2014              \
                                         Actual (mm) Normal (mm)
ANDAMAN & NICOBAR NICOBAR                        NaN         2.7
                  SOUTH ANDAMAN                  NaN         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         3.2
RAJASTHAN         GANGANAGAR                     0.0         0.3
                  ALWAR                          0.0         0.3

DISTRICT                                                02 Jan 2014  \
                                         Deviation (mm) Actual (mm)
ANDAMAN & NICOBAR NICOBAR                           NaN         NaN
                  SOUTH ANDAMAN                     NaN         NaN
                  NORTH & MIDDLE ANDAMAN            NaN         NaN
RAJASTHAN         GANGANAGAR                     -100.0         0.0
                  ALWAR                          -100.0         0.0

DISTRICT                                                             \
                                         Normal (mm) Deviation (mm)
ANDAMAN & NICOBAR NICOBAR                        3.1            NaN
                  SOUTH ANDAMAN                  NaN            NaN
                  NORTH & MIDDLE ANDAMAN         3.5            NaN
RAJASTHAN         GANGANAGAR                     0.3         -100.0
                  ALWAR                          0.2         -100.0

DISTRICT                                 03 Jan 2014              \
                                         Actual (mm) Normal (mm)
ANDAMAN & NICOBAR NICOBAR                        NaN         0.5
                  SOUTH ANDAMAN                  NaN         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         3.5
RAJASTHAN         GANGANAGAR                     0.0         0.2
                  ALWAR                          0.0         0.0

DISTRICT                                                04 Jan 2014  ...  \
                                         Deviation (mm) Actual (mm)  ...
ANDAMAN & NICOBAR NICOBAR                           NaN         NaN  ...
                  SOUTH ANDAMAN                     NaN         NaN  ...
                  NORTH & MIDDLE ANDAMAN            NaN         NaN  ...
RAJASTHAN         GANGANAGAR                     -100.0         0.0  ...
                  ALWAR                             NaN         0.0  ...

DISTRICT                                    28 Dec 2014 29 Dec 2014  \
                                         Deviation (mm) Actual (mm)
ANDAMAN & NICOBAR NICOBAR                           NaN         NaN
                  SOUTH ANDAMAN                     NaN         NaN
                  NORTH & MIDDLE ANDAMAN            NaN         NaN
RAJASTHAN         GANGANAGAR                     -100.0         0.0
                  ALWAR                          -100.0         0.0

DISTRICT                                                             \
                                         Normal (mm) Deviation (mm)
ANDAMAN & NICOBAR NICOBAR                        3.0            NaN
                  SOUTH ANDAMAN                  NaN            NaN
                  NORTH & MIDDLE ANDAMAN         5.1            NaN
RAJASTHAN         GANGANAGAR                     0.2         -100.0
                  ALWAR                          0.0            NaN

DISTRICT                                 30 Dec 2014              \
                                         Actual (mm) Normal (mm)
ANDAMAN & NICOBAR NICOBAR                        NaN         4.4
                  SOUTH ANDAMAN                  NaN         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         6.1
RAJASTHAN         GANGANAGAR                     0.0         0.2
                  ALWAR                          0.0         0.2

DISTRICT                                                31 Dec 2014  \
                                         Deviation (mm) Actual (mm)
ANDAMAN & NICOBAR NICOBAR                           NaN         NaN
                  SOUTH ANDAMAN                     NaN         NaN
                  NORTH & MIDDLE ANDAMAN            NaN         NaN
RAJASTHAN         GANGANAGAR                     -100.0         0.0
                  ALWAR                          -100.0         0.0

DISTRICT
                                         Normal (mm) Deviation (mm)
ANDAMAN & NICOBAR NICOBAR                        7.2            NaN
                  SOUTH ANDAMAN                  NaN            NaN
                  NORTH & MIDDLE ANDAMAN         7.1            NaN
RAJASTHAN         GANGANAGAR                     0.0            NaN
                  ALWAR                          0.0            NaN

[5 rows x 1095 columns]

In [3]:
df.index = df.index.set_names(['State', 'District'], level = [0, 1])

In [4]:
df.columns = df.columns.set_names(None, level = 0)

In [7]:
df = df.drop(columns = df.columns[2::3])

In [9]:
Null = list()
df.apply(lambda x:Null.append(x.name) if x.isna().sum() == df.shape[1] else None,axis = 1)
Null = pd.DataFrame(Null)
Null.head()           #to_csv

                   0              1
0  ANDAMAN & NICOBAR  SOUTH ANDAMAN
1           NAGALAND        DIMAPUR
2           NAGALAND     MOKOKCHUNG
3           NAGALAND       LONGLENG
4           NAGALAND          WOKHA

In [10]:
    df = df.dropna(how = 'all')
    df = df.dropna(how = 'all', axis = 1)

In [12]:
x = '../Datasets/rainfall_District Wise Timeseries_2014.xls'

In [14]:
x[-8:-4]

'2014'

Trial and error
# Function

In [17]:
def clean_rainfall(loc):
    df = pd.read_excel(
        io = loc,
        header = [1,2],
        index_col = [0,1],
        skipfooter = 1
    ).replace('-', np.nan)
    df.index = df.index.set_names(['State', 'District'], level = [0, 1])
    df.columns = df.columns.set_names(None, level = 0)
    df = df.drop(columns = df.columns[2::3])
    Null = list()
    df.apply(lambda x : Null.append(x.name) if x.isna().sum() == df.shape[1] else None,axis = 1)
    Null = pd.DataFrame(Null)
    Null.to_csv('../Datasets/Null_Districts(' + loc[-8 : -4] + ').csv')
    df = df.dropna(how = 'all')
    df = df.dropna(how = 'all', axis = 1)
    df.to_csv('../Datasets/Rainfall(' + loc[-8 : -4] + ').csv')
    return df

In [18]:
clean_rainfall('../Datasets/rainfall_District Wise Timeseries_2014.xls')

                                         01 Jan 2014             02 Jan 2014  \
                                         Actual (mm) Normal (mm) Actual (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        NaN         2.7         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         3.2         NaN
RAJASTHAN         GANGANAGAR                     0.0         0.3         0.0
                  ALWAR                          0.0         0.3         0.0
                  DHAULPUR                       0.0         0.3         0.0
...                                              ...         ...         ...
KARNATAKA         KOPPAL                         0.0         0.0         0.0
                  BANGALORE                      0.0         0.1         0.0
                  GULBARGA                       0.0         0.1         0.0
                  YADGIR                         0.0         NaN         0.0
                  DAKSHINA KANNADA               0.0         0.1         0.0

                                                     03 Jan 2014              \
                                         Normal (mm) Actual (mm) Normal (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        3.1         NaN         0.5
                  NORTH & MIDDLE ANDAMAN         3.5         NaN         3.5
RAJASTHAN         GANGANAGAR                     0.3         0.0         0.2
                  ALWAR                          0.2         0.0         0.0
                  DHAULPUR                       0.4         0.0         0.2
...                                              ...         ...         ...
KARNATAKA         KOPPAL                         0.1         0.0         0.0
                  BANGALORE                      0.0         0.0         0.2
                  GULBARGA                       0.0         0.0         0.0
                  YADGIR                         NaN         0.0         NaN
                  DAKSHINA KANNADA               0.0         0.0         0.0

                                         04 Jan 2014             05 Jan 2014  \
                                         Actual (mm) Normal (mm) Actual (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        NaN         1.0         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         4.8         NaN
RAJASTHAN         GANGANAGAR                     0.0         0.2        0.00
                  ALWAR                          0.0         0.2        0.00
                  DHAULPUR                       0.0         0.4        1.89
...                                              ...         ...         ...
KARNATAKA         KOPPAL                         0.0         0.0        0.00
                  BANGALORE                      0.0         0.1        0.00
                  GULBARGA                       0.0         0.0        0.00
                  YADGIR                         0.0         NaN        0.00
                  DAKSHINA KANNADA               0.0         0.2        0.00

                                                      ... 27 Dec 2014  \
                                         Normal (mm)  ... Actual (mm)
State             District                            ...
ANDAMAN & NICOBAR NICOBAR                        0.5  ...         NaN
                  NORTH & MIDDLE ANDAMAN         4.4  ...         NaN
RAJASTHAN         GANGANAGAR                     0.2  ...         0.0
                  ALWAR                          0.8  ...         0.0
                  DHAULPUR                       1.4  ...         0.0
...                                              ...  ...         ...
KARNATAKA         KOPPAL                         0.0  ...         0.0
                  BANGALORE                      0.1  ...         0.0
                  GULBARGA                       0.0  ...         0.0
                  YADGIR                         NaN  ...         0.0
                  DAKSHINA KANNADA               0.5  ...         0.0

                                                     28 Dec 2014              \
                                         Normal (mm) Actual (mm) Normal (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        1.4         NaN         0.5
                  NORTH & MIDDLE ANDAMAN         6.8         NaN         5.0
RAJASTHAN         GANGANAGAR                     0.4         0.0         0.1
                  ALWAR                          0.3         0.0         0.1
                  DHAULPUR                       0.3         0.0         0.1
...                                              ...         ...         ...
KARNATAKA         KOPPAL                         0.1         0.0         0.1
                  BANGALORE                      0.4         0.0         0.5
                  GULBARGA                       0.2         0.0         0.1
                  YADGIR                         NaN         0.0         NaN
                  DAKSHINA KANNADA               0.2         0.0         0.2

                                         29 Dec 2014             30 Dec 2014  \
                                         Actual (mm) Normal (mm) Actual (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        NaN         3.0         NaN
                  NORTH & MIDDLE ANDAMAN         NaN         5.1         NaN
RAJASTHAN         GANGANAGAR                     0.0         0.2         0.0
                  ALWAR                          0.0         0.0         0.0
                  DHAULPUR                       0.0         0.0         0.0
...                                              ...         ...         ...
KARNATAKA         KOPPAL                         0.0         0.3         0.0
                  BANGALORE                      0.0         0.0         0.0
                  GULBARGA                       0.0         0.1         0.0
                  YADGIR                         0.0         NaN         0.0
                  DAKSHINA KANNADA               0.0         0.4         0.0

                                                     31 Dec 2014
                                         Normal (mm) Actual (mm) Normal (mm)
State             District
ANDAMAN & NICOBAR NICOBAR                        4.4         NaN         7.2
                  NORTH & MIDDLE ANDAMAN         6.1         NaN         7.1
RAJASTHAN         GANGANAGAR                     0.2         0.0         0.0
                  ALWAR                          0.2         0.0         0.0
                  DHAULPUR                       0.3         0.0         0.1
...                                              ...         ...         ...
KARNATAKA         KOPPAL                         0.1         0.0         0.0
                  BANGALORE                      0.1         0.0         0.3
                  GULBARGA                       0.0         0.0         0.3
                  YADGIR                         NaN         0.0         NaN
                  DAKSHINA KANNADA               0.1         0.0         0.2

[577 rows x 730 columns]